@use '../../../scss/' as *;

.cast-thumb {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  overflow-y: hidden;

  &__img {
    border-radius: 0.5rem;
    height: clamp(6rem, 12rem, 12rem);
  }

  &__title-container {
    position: absolute;
    bottom: -4.5rem;
    height: 37%;
    width: 100%;

    border-radius: 0.5rem;
    background-color: #1c1c1cd1;

    transition: 0.5s ease;
  }

  &__bg {
    height: 37%;
    width: 100%;
  }
}

.cast-thumb:hover .cast-thumb__title-container {
  bottom: 0;
}
