@use '../../../scss/' as *;

.cast-thumb {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  overflow-y: hidden;

  &__img {
    border-radius: 0.5rem;
    height: 12rem;
    width: 8rem;

    @media only screen and (max-width: 1440px) {
      height: 10rem;
    }
  }

  &__title-container {
    position: absolute;
    bottom: -10.5rem;
    height: fit-content;
    width: 100%;

    border-radius: 0.5rem;
    background-color: #1c1c1cd1;

    transition: 0.5s ease;
  }
}

.cast-thumb:hover .cast-thumb__title-container {
  bottom: 0;
}
