@use '../../../scss/' as *;

.modal {
  width: clamp(30%, 500px, 90%);
  height: min(55%, 800px);

  margin: auto;
  padding: 0, 2rem;
  border-radius: 0.75rem;
  z-index: 3;

  border: 1px solid white;
  background-color: #1c1c1c;

  @include flex(column, center, center);

  &__content {
    height: 70%;
    margin-top: 2rem;
  }
}
