@use '../../../scss/' as *;

.modal {
  position: relative;
  width: clamp(30%, 900px, 90%);
  height: min(60%, 800px);

  margin: auto;
  padding: 0, 2rem;
  border-radius: 0.75rem;
  z-index: 3;

  border: 1px solid white;
  background-color: #1c1c1c;

  @include flex(column, center, center);

  &__content {
    height: 70%;
    margin-top: 2rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
