@use '../../../scss/' as *;

.carousel {
  &__label {
    margin: 1rem;
    padding-left: 2rem;
    font-size: get-size(10);
  }

  &__items-container {
    min-height: 21.25rem;
    width: 90%;
    overflow-x: auto;
    margin: 1.5rem auto;
    border-radius: 1rem;

    box-shadow: inset 5px 5px 10px #161616, inset -5px -5px 10px #222222;
  }
}
