@use '../../scss/' as *;

.analyze {
  &__single-movie {
    position: relative;
    // border: 1px solid white;
    width: 40%;
    height: 20rem;
    @include flex(column, center, center);

    border-radius: 1rem;
    background: #1c1c1c;
    box-shadow: inset 5px 5px 10px #161616, inset -5px -5px 10px #222222;
    z-index: -2;
  }

  &__all-movies {
    margin-top: 3rem;
    flex-basis: 50%;

    @media only screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }

    &:nth-child(even) {
      @include flex(row, center, flex-start);
    }
    &:nth-child(odd) {
      @include flex(row, center, flex-end);
    }
  }

  &__graph {
    @include flex(row, center, center);
  }

  &__winner {
    width: 90%;
    height: 90%;
    background-color: $accentColor;
    position: absolute;
    // border-radius: 1rem;
    opacity: 1;
    // box-shadow: 1px 2px 3px #e41f7be1;
    box-shadow: 0 0 14px 14px $bgColor inset;
    z-index: -1;
  }

  &__top {
    position: relative;
  }

  &__choose-btn {
    height: 15rem;
    width: 12rem;
    padding: 1rem;
    border: 3px solid $accentColor;
    border-radius: 1rem;
    font-size: 1.4rem;

    @include flex(column, center, center);

    position: absolute;
    top: 22%;
    right: 10rem;

    @media only screen and (max-width: 1200px) {
      position: relative;
      right: 0;
      width: 80%;
      height: fit-content;
      margin: 0 auto;
    }
  }

  &__back-btn {
    min-height: 15rem;
    width: 12rem;
    padding: 1rem;
    border: 3px solid $accentColor;
    border-radius: 1rem;
    font-size: 1.4rem;

    @include flex(column, center, center);

    position: absolute;
    top: 22%;
    left: 10rem;

    @media only screen and (max-width: 1200px) {
      position: relative;
      left: 0;
      width: 80%;
      min-height: 7rem;
      height: fit-content;
      margin: 1rem auto;
    }
  }
}
