@use '../../../scss/' as *;

.review {
  width: clamp(85%, 65rem, 90%);
  height: 100%;

  @include flex(row, center, flex-start);

  &__container {
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    // border: 1px solid white;

    border-radius: 51px;
    background: #1c1c1c;
    box-shadow: inset 5px 5px 10px #161616, inset -5px -5px 10px #222222;
  }

  &__nav {
    @include flex(row, center, center);
  }

  &__options {
    @include flex(row, flex-end, center);
  }

  &__post {
    margin-right: 3rem;
  }

  &__card {
    &__content {
    }
  }
}
