@use '../../scss/' as *;

.show {
  &__reviews {
    padding: 1rem;
    margin: 1.5rem;
    height: 90rem;

    @include flex(row, center, flex-start);
  }

  &__similar {
    padding: 1rem;
    margin: 1.5rem;
    height: 90rem;

    // border: 1px solid white;
  }
}
