@use '../../../scss/' as *;

.similar {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;

  border-radius: 1rem;
  background: #1c1c1c;
  box-shadow: inset 5px 5px 10px #161616, inset -5px -5px 10px #222222;
}
