@use '../../../scss/' as *;

.auth-form {
  height: 100%;

  &__swap-options {
    // border: 1px solid white;
    margin: 0 auto;
    @include flex(row, center, center);
  }

  &__swap-btn {
    margin-left: 1rem;
  }
}
