@use '../../../scss/' as *;

.movie-section {
  width: 100%;
  height: 39rem;
  // border: 1px solid white;
  position: relative;

  @include flex(row, space-between, flex-start);

  @media only screen and (max-width: 1200px) {
    @include flex(column, flex-start, center);

    height: fit-content;
  }

  &__img-mask {
    position: absolute;
    top: -7rem;
    height: 36.5rem;
    width: 100%;
    z-index: -1;

    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 11%, 0.1) 0%,
      hsla(0, 0%, 11%, 0.113) 9%,
      hsla(0, 0%, 11%, 0.049) 17.6%,
      hsla(0, 0%, 11%, 0.104) 25.8%,
      hsla(0, 0%, 11%, 0.175) 33.6%,
      hsla(0, 0%, 11%, 0.259) 41%,
      hsla(0, 0%, 11%, 0.352) 48.2%,
      hsla(0, 0%, 11%, 0.45) 55%,
      hsla(0, 0%, 11%, 0.55) 61.5%,
      hsla(0, 0%, 11%, 0.648) 67.7%,
      hsla(0, 0%, 11%, 0.741) 73.6%,
      hsla(0, 0%, 11%, 0.825) 79.3%,
      hsla(0, 0%, 11%, 0.896) 84.8%,
      hsla(0, 0%, 11%, 0.951) 90.1%,
      hsla(0, 0%, 11%, 0.987) 95.1%,
      hsl(0, 0%, 11%) 100%
    );
  }

  &__backdrop {
    position: absolute;
    top: -7rem;
    opacity: 0.3;
    max-height: 36.5rem;
    width: 100%;
    object-fit: cover;
    z-index: -10;
  }

  &__info {
    width: 60%;
    padding-left: 3rem;

    @media only screen and (max-width: 1200px) {
      padding-left: 0;
    }
  }

  &__graph {
    width: 40%;
  }
}
