@use '../../../scss/' as *;

.show-details {
  //   border: 1px solid coral;
  margin-bottom: 1.5rem;

  &__header {
    margin-bottom: 0.5rem;

    &::after {
      content: '';
      display: block;
      color: #ffffff;
      background-color: #ffffff;
      height: 1px;
      width: 100%;
    }
  }

  &__header-content {
    @include flex(row, space-between, center);
  }

  &__description {
    font-size: 1.15rem;
    max-height: 11.5rem;
    overflow-y: auto;
  }

  &__pills {
    @include flex(row, space-between, center);
  }

  &__genres {
    width: 55%;
    overflow-x: auto;
  }
}
